<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" /></head>


<body>
  <div class="col-action">
    <div class="coll1">
      <h1>Red Team</h1>
      <!-- <p id="test" ></p> -->
      
      <!-- red players go here -->
    </div>

    <div class="coll2">
      <h1>Green Team</h1>
      <!-- green players go here -->
    </div>
  </div>
  
  <!-- Second box -->
  <!-- Box for red players -->
  <div class="box">
  <div class="boxRed"><h3>
    <div id='wrap'>
      <div id = 'redplayer1ID' style="float:left;"></div>
      <div id= 'redplayer1Name' style="float:left;"></div><br>
    </div>
      
    <div id = 'redplayer2ID'></div>
    <div id = 'redplayer3ID'></div>
    <div id = 'redplayer4ID'></div>
    <div id = 'redplayer5ID'></div>
    
  
    <div id="redName2" ></div><br>
    <div id="redName3" ></div><br>
    <div id="redName4" ></div><br>
    <div cid="redName5" ></div><br> 
    </div> 

    <!-- Box for green players -->
    <div class="boxGreen"><h3>
      <div id = 'greenplayer1ID'></div>
      <div id = 'greenplayer2ID'></div>
      <div id = 'greenplayer3ID'></div>
      <div id = 'greenplayer4ID'></div>
      <div id = 'greenplayer5ID'></div>
      <div class = "greenData" id="greenName1" ></div><br>
      <div class = "greenData" id="greenName2" ></div><br>
      <div class = "greenData" id="greenName3" ></div><br>
      <div class = "greenData" id="greenName4" ></div><br>
      <div class = "greenData" id="greenName5" ></div><br>
      </div>
      </div>

      <!-- Third Box -->
      <div class="bigBox">
        <p id="test" ></p>
      </div>
<form name="playerForm">

</form>

</body>

<script>
  //Set countdown to 30 seconds
  var countDownTime = 30;

  //Find where the countdown is supposed to be
  var count = document.getElementById('test');

  //Function for every 1 second to print the count
  var time = setInterval(function() {
    //If time is less then 0 keep at 0
    if(countDownTime < 0){
      clearTimeout(time);
    }
    //Display time and subtract 1
    else{
      count.innerHTML = countDownTime + ' seconds remaining until game starts';
      countDownTime = countDownTime - 1;
    }
  }, 1000);
  
  //When this loads wait 10 seconds for players to load to database then get the players
  setTimeout(function testFunction(){
    //Create request to get players
    request = new XMLHttpRequest();
    
    //Set path to call retrievePath in main.py
    request.open('GET', '/getplayer', true);

    //Set the dictionary retrieving to a json object
    request.responseType = 'json';

    //Send request
    request.send();

    //When it returns get the player objects
    request.onload = function(){
      let testObj = request.response;
      //Red team ID's
      var redplayer1ID = testObj.redplayer1ID;
      document.getElementById('redplayer1ID').innerHTML = redplayer1ID;

      var redplayer1ID = testObj.redplayer1ID;
      document.getElementById('redplayer1ID').innerHTML = redplayer1ID;

      var redplayer2ID = testObj.redplayer2ID;
      document.getElementById('redplayer2ID').innerHTML = redplayer2ID;

      var redplayer3ID = testObj.redplayer3ID;
      document.getElementById('redplayer3ID').innerHTML = redplayer3ID;

      var redplayer4ID = testObj.redplayer4ID;
      document.getElementById('redplayer4ID').innerHTML = redplayer4ID;

      var redplayer5ID = testObj.redplayer5ID;
      document.getElementById('redplayer5ID').innerHTML = redplayer5ID;
      //Red team names
      var redplayer1Name = testObj.redplayer1Name;
      document.getElementById('redplayer1Name').innerHTML = redplayer1Name;

      //Green team ID's
      var greenplayer1ID = testObj.greenplayer1ID;
      document.getElementById('greenplayer1ID').innerHTML = greenplayer1ID;

      var greenplayer2ID = testObj.greenplayer2ID;
      document.getElementById('greenplayer2ID').innerHTML = greenplayer2ID;

      var greenplayer3ID = testObj.greenplayer3ID;
      document.getElementById('greenplayer3ID').innerHTML = greenplayer3ID;

      var greenplayer4ID = testObj.greenplayer4ID;
      document.getElementById('greenplayer4ID').innerHTML = greenplayer4ID;

      var greenplayer5ID = testObj.greenplayer5ID;
      document.getElementById('greenplayer5ID').innerHTML = greenplayer5ID;

      console.log(testObj.redplayer1ID);
    }


}, 10000);

  </script>

  </html>