<!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<style type="text/css"> 



</style>

<body>
   <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow"); 
        });
    </script>
<form><div class="split left">

  <label for="Rteam">Red Team</label><br>
  <input type="text" id="Rteam" name="Rteam"><br>
  <input type="text" id="Rteam" name="Rteam"><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  

  </div><div class="split right">
  <label for="Gteam">Green Team</label><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  <input type="text" id="Gteam" name="Gteam"><br>
  <input type="reset" value="Reset" onClick="window.location.reload()">
</div>
</form>


</body>
</html>
