<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<!-- <div class = "splash">
  <h1 class ="fade-in"> <img id="pic" src="logo.jpg" width="1500" height="600"></h1>
</div> -->

<!-- Button for switching html -->
<input id="pic" type="image" src="/static/logo.jpg" width="1425" height="800"onclick="myFunction();">

<!-- Function to change html of the game -->
<script>function myFunction() {
  window.location.replace('http://127.0.0.1:5000/game')
}
</script>
<!-- <script src = "player.js"></script> -->
</body>
</html>